<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Dashboard</button>
		<ng-template ngbNavContent>
			<state></state>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Updates</button>
		<ng-template ngbNavContent>
			<list-group></list-group>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Results</button>
		<ng-template ngbNavContent>
			<results></results>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
