<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Dashboard</button>
		<ng-template ngbNavContent>
			<states></states>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Updates</button>
		<ng-template ngbNavContent>
			<actions></actions>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Trades</button>
		<ng-template ngbNavContent>
			<trades></trades>
		</ng-template>
	</li>	
	<li [ngbNavItem]="4">
		<button ngbNavLink>Results</button>
		<ng-template ngbNavContent>
			<results></results>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
