
  <table class="table table-striped text-center container">
    <thead>
      <tr class="headers">
        <th class="p-0 w-12"></th>
        <th class="p-0 w-12 header">H1</th>
        <th class="p-0 w-12 header">H4</th>
        <th class="p-0 w-12 header">D1</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="p-1 column">{{ item.name }}</td>
        <td class="column"><state-item [item]="item.states[0]"></state-item></td>
        <td class="column"><state-item [item]="item.states[1]"></state-item></td>
        <td class="column"><state-item [item]="item.states[2]"></state-item></td>
      </tr>
    </tbody>
  </table>
  