<ng-template #popContent>
    <div *ngIf="hasAction()" class="popup">Type: {{ this.item.action?.action }} <br>
        Created: {{ this.item.action?.time }}<br>
        Targeting {{ this.item.action?.targetPips }} pips.<br>
        Entry price: {{ this.item.action?.entryPrice }}<br>
        Start Price: {{ this.item.action?.startPrice }}<br>
        Target Price: {{ this.item.action?.targetPrice }}<br>
        Price has moved {{ this.item.progress }}% to the target<br>
        Chart {{ this.item.timeframe }} is {{ this.getReadableState() }} from {{ this.item.time }}
    </div>
    <div *ngIf="!hasAction()" class="popup">Chart {{ this.item.timeframe }} is {{ this.getReadableState() }}<br>from {{ this.item.time }}</div>
</ng-template>
<ng-template #popTitle>
    <div *ngIf="hasAction()" class="popup">Action Details</div>
    <div *ngIf="!hasAction()" class="popup">Chart Details</div>
</ng-template>
<div class="cell-box" [ngClass]="{'active': this.item.active}" [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave">
    <div class="cell" [ngClass]="getStateClass()"></div>
    <div *ngIf="hasAction()" class="action-box text-center" [ngClass]="{'today': isToday()}">
        <span class="action">{{ item.action!.action }}</span>
        <span class="target">{{ item.action!.targetPips }} pips</span>
    </div>
    <ngb-progressbar *ngIf="hasAction()" class="mb-3 progressbar" [ngClass]="{'today': isToday()}" type="secondary" textType="light" [value]="item.progress" [showValue]="true" />
</div>
