<table class="table table-striped text-center container">
    <thead>
      <tr class="headers">
        <th class="w-12 header">Pair</th>
        <th class="w-12 header">Command</th>
        <th class="w-12 header">Action</th>
        <th class="w-12 header">Price</th>
        <th class="w-12 header">Profit</th>
        <th class="w-12 header">Time Opened</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tr of trades">
        <td class="column">{{ tr.pair }}</td>
        <td class="column">{{ tr.command }}</td>
        <td class="column">{{ tr.action }}</td>
        <td class="column">{{ tr.price }}</td>
        <td class="column">{{ tr.profit }}</td>
        <td class="column">{{ tr.openedTime }}</td>
      </tr>
    </tbody>
  </table>
