.container {
    margin: 9px;
    width: 100%;
    min-width: 800px;
}
.headers {
    border: 1px solid #b1b1b1;
}
.header {
    width: 120px;
    min-width: 120px;
    height: 2em;
    vertical-align: middle;
    padding: 5px;
    white-space: wrap;
}
.column {
    border: 1px solid #b1b1b1;
    padding: 5px;
    white-space: nowrap;
}
.today {
    background-color: #d6ebfc;
}
.green {
    background-color: #d6fce4;
}
.red {
    background-color: #fac9c9;
}
.bullish {
    background-image: url('../../../assets/bullish.png');
    background-position: right; 
    background-size: 127px;
}
.bearish {
    background-image: url('../../../assets/bearish.png');
    background-position: left; 
    background-size: 127px;
}
.range {
    background-image: url('../../../assets/range.png');
    background-position: left; 
    background-size: 127px;
}
.arrow {
    height: 22px;
    padding: 0px;
    margin-top: -6px;
    padding-left: 5px;
}