<div class="container mt-3">
  <button type="button" class="btn btn-outline-primary" *ngIf="pair" (click)="displayAll()">Display All</button>
  <ul class="list-group">
    <li *ngFor="let item of items" class="text-center">
      <span class="fw-bold text-center">{{ item.date }}</span>
      <ul>
        <li *ngFor="let record of item.records" class="list-group-item text-color" [ngClass]="{'today': isToday(item)}" (click)="filter(record.pair)">
          <action [item]="record"></action>
        </li>
      </ul>
    </li>
  </ul>
</div>
  